<%- include("../partials/header") %>

<div class = "container" style="padding-top: 100px">
    <h1 style = "text-align: center;">Add a new comment to  <%= campground.name %></h1>
    <div class  = "row">
        <!--<form action = "/campgrounds/<%= campground._id %>/comments " method = "POST">
            <input class = "form-control" type = "text" name = "comment[text]" placeholder="comment">
            <button class = "btn btn-danger">SUBMIT</button>
        </form>-->
        <form action = "/campgrounds/<%= campground._id %>/comments " method = "POST">
            <div class="form-group">
                <textarea style = "margin: 10px;" class="form-control" type = "text" name="comment[text]"
                    placeholder="comment"></textarea>
            </div>
            <div class="d-grid gap-2">
                <button style = "margin: 10px;" class = "btn btn-danger">Submit</button>
            </div>
        </form>
    </div>
    
    
</div>


<%- include("../partials/footer") %>
