<%- include("../partials/header") %>


<div class="container">

    <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-5">
          <h1 class="display-5 fw-bold">Welcome back</h1>
          <p class="col-md-8 fs-4">Welcome to YelpCamp</p>
          <a href="/campgrounds/new" class="btn btn-primary btn-lg">Add New Campground</a>
        </div>
      </div>

    <div class="row" style="display:flex; flex-wrap: wrap;">

        <% for(var i = 0; i < campgrounds.length; i++){ %>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="thumbnail">
                <div id  = "campgroundTitle" class="caption">
                    <h4> <%= campgrounds[i].name %> </h4>
                </div>
                <img src="<%= campgrounds[i].image %>" />
                <div id  = "moreInfoContainer" class = "container">
                    <a id="moreInfo" href="/campgrounds/<%= campgrounds[i]._id %>" class="btn btn-success">More Info</a>
                </div>
            </div>
        </div>
        <% } %>
    </div>
</div>

<%- include("../partials/footer") %>