<%- include("../partials/header") %>


<div class = "container">
    <h1>edit campground</h1>
    <div class  = "row">
        <form action = "/campgrounds/<%=campground._id%>?_method=PUT" method = "POST">
            <input class = "form-control" type = "text" name = "name" placeholder="name" value = "<%= campground.name %>">
            <input class = "form-control" type = "text" name = "img" placeholder="img url" value = "<%= campground.image %>">
            <input class = "form-control" type = "text" name = "desc" placeholder="description" value = "<%= campground.description %>">
            <button class = "btn btn-danger">SUBMIT</button>
        </form>
    </div>
    
    
</div>

<%- include("../partials/footer") %>